$fonte1: Montserrat, Tahoma;
$fonte2: Tahoma, Verdana;
$margin: 20px;
$primaria: purple;
$secundaria: #000;
$corFonte: purple;
 
/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
}
#corFonte{
    color: $primaria !important;
    font-weight: bold !important;
    font-family: $fonte1 !important;
}
#gridEquipe{
    border-color: $primaria !important;
    background-color: $secundaria !important;
    color: $corFonte !important;
    font-family: $fonte1;
}
#gridJogos{
    border-color: $secundaria !important;
    background-color: $primaria !important;
    color: #FFF !important;
    font-family: $fonte1;
}
#gridContato{
    background-color: $secundaria !important;
    color: $primaria !important;
    font-family: $fonte1;
}
.centro{
    text-align: center;
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-family: $fonte1;
    color: $primaria;
}
.font{
    font-family: $fonte1;
}
#nav{
    background-color: $secundaria;
    font-family: $fonte1;
}
/*------------------------------------CABEÇALHO E RODAPÉ--------------------------------------------------------*/
.carrosel-img{
    object-fit: cover;
    object-position: 0 100%;
    height: 500px;
    display: block;
    width: 50%;
}
.footer {
    background-color: $secundaria;
    text-align: center;
    color: $corFonte;
    padding: 10px;
    font-family: $fonte1;
}
