$fonte1: Montserrat, Tahoma;
$fonte2: Tahoma, Verdana;
$margin: 20px;
$primaria: #242f49;
$secundaria: #384358;
$corFonte1: #FFF;
$corFonte2: #541a26;
 
/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
}
#corFonte{
    color: $corFonte1 !important;
    font-weight: bold !important;
    font-family: $fonte1 !important;
}
#corFonte2{
    color: $corFonte1 !important;
    font-family: $fonte1 !important;
}
#corFonteNav{
    color: $corFonte1 !important;
    font-family: $fonte1 !important;
}
#corFonteNav2{
    color: $corFonte1 !important;
    font-family: $fonte1 !important;
}
#gridEquipe{
    border-color: $primaria !important;
    background-color: $secundaria !important;
    color: $corFonte1 !important;
    font-family: $fonte1;
    &:hover{
        border-color: white !important;
    }
}
#gridJogos{
    border-color: $secundaria !important;
    background-color: $secundaria !important;
    color: #FFF !important;
    font-family: $fonte1;
    &:hover{
        border-color: white !important;
    }
}
#gridContato{
    background-color: $secundaria !important;
    color: $corFonte1 !important;
    font-family: $fonte1;
}
#gridNav{
    background-color: $primaria !important;
    color: $corFonte1 !important;
    font-family: $fonte1;
}
.centro{
    text-align: center;
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-family: $fonte1;
    color: $corFonte1;
    padding: 80px;
}
.font{
    font-family: $fonte1;
}
#nav{
    background-color: $primaria;
    font-family: $fonte1;
}
#margin{
    margin: $margin;
}
#icones{
    padding-bottom: $margin;
    color: $corFonte1;
}
#dropdonw{
    background-color: $secundaria;
}
header{
    padding-bottom: 20px;
    background-color: #000;
    padding-bottom: 200px;
}
main {
    background-color: #000;
}
body{
    background-color: #000 !important;
}
#paragrafo{
    color: white;
    font: 25px $fonte1;
    text-align: center;
    padding: 10px;
}
#logo{
    width: 80px;
}
.navbar{
    & .navbar-toggler{
        background-color: #FFF;
    }
}
#imagem-logo{
    padding: 15px;
    border-radius: 35px;
}
#imagemEquipe{
    padding: 10px;
    border-radius: 150px;
}
.hover:hover{
    background-color: $secundaria !important;
}
/*------------------------------------CABEÇALHO E RODAPÉ--------------------------------------------------------*/
.carrosel-img{
    object-fit: cover;
    object-position: 0 100%;
    height: 500px;
    display: block;
    width: 50%;
}
.footer {
    background-color: $primaria;
    text-align: center;
    color: $corFonte1;
    padding: 20px;
    font-family: $fonte1;
    margin-top: 100px;
    a{
        color: $secundaria;
        margin: 10px;
        &:hover{
            color: $corFonte1;
        }
    }
}
