$fonte1: Montserrat, Tahoma;
$fonte2: Tahoma, Verdana;
$margin: 20px;
$primaria: #171D25;
$secundaria: #CCC;
$corFonte: #DCDEDF;

* {
    margin: 0;
    padding: 0;
}

.header-nav {
    text-align: center;
    text-transform: uppercase;
    font: 20px $fonte1;
    background-color: $primaria;
    padding-top: 15px;
    padding-bottom: 15px;

    ul li {
        display: inline-block;
        padding: $margin;
    }

    a {
        text-decoration: none;
        color: $corFonte;
    }

    a:hover {
        color: gray;
    }

    .dropdonw-menu {
        position: absolute;
        display: none;
        padding-top: 2px;
    }

    .dropdonw-menu a {
        display: block;
        text-transform: none;
        padding: 12px;
        background-color: $secundaria;
        color: $primaria;
    }

    .dropdonw:hover .dropdonw-menu {
        display: block;

        a:hover {
            background-color: $primaria;
            color: $corFonte;
        }
    }
}

.footer {
    text-align: center;
    bottom: 0;
    position: fixed;
    background-color: $primaria;
    width: 100%;
    color: $corFonte;
    padding: 20px;
    font: 16px $fonte1;
}